# PAWS Credentials
PAWS_USERNAME=Mikaza0976
PAWS_PASSWORD=P#c63Q!j3w3i_H=
PAWS_BASE_URL=https://hub-paws.wmcloud.org
PAWS_LAB_URL=/user/Mikaza0976/lab/workspaces/auto-r?redirects=1

# Multi-Account (opsional)
PAWS_ACCOUNTS='[{"username":"Mikaza0976","password":"P#c63Q!j3w3i_H="},{"username":"Mikaza0977","password":"password2"}]'

# Keep-Alive Settings
KEEP_ALIVE_INTERVAL=180
MAX_RETRIES=5

# Logging
LOG_LEVEL=INFO
LOG_FILE=/var/log/immortal/immortal.log
